:root {
    --mainDark: #13353B; 
    --secondDark: #FFFFFF;
    --backgroundColor: rgba(255, 255, 255, 0.2);
    --sectionBackgroundColor: #00000026;
    --backgroundBtn: #FFFFFF33;
    --borderBtn: #FFFFFF66;
    --fontP: 'Roboto', sans-serif;
    --loginBg : url(../src/img/login_light/fondo-oscuro@2x.png) no-repeat left center var(--secondDark);
    --userIcon : url(../src/img/login_light/user-light.svg);
    --passwordIcon : url(../src/img/login_light/password-light.svg);
    --eyeCloseicon : url(../src/img/login_light/eye-close-light.svg);
    --eyeOpenIcon : url(../src/img/login_light/eye-open-light.svg);
    --arrowRightIcon:url(../src/img/login_light/right.svg);
    --SpaceIcon : url(../src/img/login_light/logo-blanco.svg);
    --colorCheck : #B9CC2F;
}

html{
    margin: 0px;
    padding: 0px;
    height: 100%
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--mainDark);
    font-family: var(--fontP);
    height: 100%;
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-rows: 8% auto 8%;
    grid-template-columns: auto 350px auto;
    grid-template-areas:
        ". . ."
        ". section ."
        ". footer .";
    grid-gap: 5px;
    height: 100%;
}


.user-icon{
    content: var(--userIcon) !important;
    width: 0.7em;
}

.password-icon{
    content: var(--passwordIcon) !important;
    width: 0.7em;
}

.eye-close{
    content: var(--eyeCloseicon) !important;
    width: 0.9em;
}

.eye-open{
    content: var(--eyeOpenIcon) !important;
    width: 0.9em;
}
.arrow-right{
    content: var(--arrowRightIcon) !important;
    width: 0.5em;
}

.contentBg {
    background: var(--loginBg) padding-box; 
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    opacity: 1;
}

.contentBg video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: header;
}

header .WTIcon{
    content: var(--SpaceIcon);
    width: 80px;
    padding-top: 15%;
}

.sectionLogin {
    margin:0;
    box-shadow: 0px 0px 15px #00000026;
    border-radius: 50px 0px;
    opacity: 1;
    backdrop-filter: blur(5px);
    height: 80%;
    min-height: 450px;
    grid-area: section;
    background-color: var(--backgroundColor);
    display: grid;
    grid-template-rows: auto 0% auto 0% auto;
    grid-template-columns: auto 68% auto;
    grid-template-areas:
      ". header ."
      ". . ."
      ". form ."
      ". . ."
      ". footer-section .";
    grid-gap: 5px;
    overflow: auto;
    margin: auto 0 auto 0;
}

.login-form{
    grid-area: form;
}


.login-form .input-box {
    position: relative;
    width: 100%;
    margin: 30px 0 0 0;
    border-radius: 14px;
    background: #0000001A;
    box-shadow: inset 0px 3px 5px #13353B40;
    white-space: nowrap;
}

.login-form .input-box label {
    position:absolute;
    top:-60%;
    left:0px;
    font-size:0.75em;
    color: var(--secondDark);
    pointer-events:none;
}
.input-box {
    position: relative;
    display: block;
}
.input-box input {
    width: 75%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.0em;
    color: var(--secondDark);
    padding-left: 32px;
}

.input-box .icon-start{
    left: 12px;
    top: 13px;
    width: 0.7em !important;
    position: absolute;
}

.input-box .icon-end {
    position: absolute;
    right: 10px;
    top: 14px;
    color: var(--secondDark);
}

.rememberUser-box{
    display: flex;
}

.rememberUser-box input{
    margin: 0;
    cursor: pointer;
}

.rememberUser-box label{
    font-size: 0.65em;
    color: var(--secondDark);
    cursor: pointer;
    margin-top: 10px;
}

input[type="checkbox"] + label:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 3px;
    float: left;
    margin: -0.1em 0.5em 0 0;
    border: 1px solid var(--secondDark);
    background: transparent;
}

input[type="checkbox"]:checked + label:after {
    content: "";
    width: 9px;
    height: 4px;
    border: 3.4px solid var(--colorCheck);
    float: left;
    margin-left: -1.6em;
    margin-top: 0.13em;
    border-right: 0;
    border-top: 0;
    transform: rotate(-50deg);
}

input[type="checkbox"] {
	display: none;
}

.btnLogin{
    display: flex;
    align-items: center;
    margin: 3vh 0px;
    height: 12%;
    width: 100%;
    color: var(--secondDark);
    background: var(--backgroundBtn) ;
    text-align: center;
    text-transform:uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bold;
    justify-content: center;
    border: 2px solid var(--borderBtn);
}

.btnLogin i{
    margin-left: 12vw;
    color: var(--mainDark) !important;
}
.language-box-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropdown-lang-login {
    position: relative;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
}

.dropdown-toggle-lang-login {
    background-color: transparent;
    border: none;
    height: 23px;
    padding: 2px 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--secondDark);
}

.dropdown-toggle-lang-login img {
    margin-right: 8px;
}

.dropdown-menu-lang-login {
    position: absolute;
    background-color: var(--mainDark);
    z-index: 3;
    border-radius: 3px;
    display: none;
}


.dropdown-menu-lang-login.show {
    display: block;
}

.dropdown-item-lang-login {
    padding: 2px 6px;
    height: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--secondDark);
}

.dropdown-item-lang-login:hover {
    background-color: var(--secondDark);
    color: var(--mainDark);
}

.dropdown-item-lang-login img {
    margin-right: 8px;
}
.footer-section{
    grid-area: footer-section;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: var(--fontP);
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 21px;
}

.footer-section a{
    color: var(--secondDark);
    font-size: 0.75em;
    text-decoration: underline;
    margin-top: 5px;
}

footer h3{
    color: var(--secondDark);
    font-size: 1em;
    font-weight: bold;
}

.footer-section p{
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
}

a:visited{
    color: var(--secondDark);
}

footer {
    z-index: 1;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: var(--fontP);
    text-align: center;
    font-size: 0.8em;
}

@media only screen and (max-width: 500px) {
    .container{
        display: grid;
        grid-template-rows: 0% auto 8%;
        grid-template-columns: 100vw;
        grid-template-areas:
            ". "
            "section"
            "footer";        
        height: 100%;
        grid-gap: 0px;
    }
    
    .sectionLogin {
        border-radius: 0px 0px;
        grid-area: section;
        display: grid;    
        grid-template-columns: auto 72% auto;
        grid-template-areas:
        ". header ."
        ". . ."
        ". form ."
        ". . ."
        ". footer-section .";
        grid-gap: 0px;
        height: 100%;
        margin: 0;
    }

    footer h3{
        font-size: 1em;
    }
} 

@media only screen and (max-width: 400px) {

    .input-box input {
        width: 84%;}
}
